PORT=3001
MONGODB_URI=mongodb://localhost:27017/moneytrack
NODE_ENV=development

CLOVA_API_KEY=your-clova-api-key-here
CLOVA_API_URL=https://clovastudio.stream.ntruss.com/v1/openai/chat/completions
CLOVA_OCR_API_URL=https://svzo6d2488.apigw.ntruss.com/custom/v1/47670/3ca5758ee53e3dc6ef5982c4c00b51b4d94893743ed3276f2c76fb324d2c618c/general
CLOVA_OCR_SECRET_KEY=your-ocr-secret-key-here
NAVER_CLIENT_ID=your-naver-client-id-here
NAVER_CLIENT_SECRET=your-naver-client-secret-here


